nav {
    background-color: rosybrown;
    height: 75px;
    width: 100%;
}

nav ul {
    float: left;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 75px;
    margin: 0 5px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    font-size: 17px;
    text-transform: uppercase;
    padding: 20px 20px;
    border-radius: 3px;
    position: relative;
}

a {
    font-size: 1.5em;
    text-decoration: solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

a:hover {
    color: rgb(12, 97, 14);
    text-decoration: underline;
}


a:active{
    color: blue;
}

body{
    background-color: bisque;
}

.contact-me{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}