.navbar{
    background-color:rosybrown;
    overflow: hidden;
    display: flex;
    justify-content:space-evenly;
    padding: 0 10px;
}

.navbar a{
    display: flex;
    color: black;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    float: left;
}

a:hover{
    color: rgb(12, 97, 14);
}

a:active{
    color: skyblue;
}

.class_content .dropbtn {
    font-size: 17px;  
    border: none;
    outline: none;
    color: black;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.class_content:hover .links {
    display: block;
}

body{
    background-color: bisque;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: bisque;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a:hover {
    color: rgb(12, 97, 14);
}

.dropdown-content a:active{
    color: skyblue;
}

.dropdown-content a{
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar .class_content:hover .dropdown-content{
    display: block;
}

.footer{
    margin-top: 15px;
    background-color:rosybrown;
    overflow: hidden;
    padding: 0 5px;
    display: flex;
    justify-content: space-evenly;
    clear:both;
}

.footer a{
    color: black;
}
.footer a:active{
    color: skyblue;
}

.footer a:hover{
    color: rgb(12, 97, 14);
}

.presenting {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loading-container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .loading-icon{
      border-radius: 50%;
    animation: bounce 1.5s infinite alternate;
  }
  
  .loading{
      width: 100px;
      height: 10px;
      background-color: rgb(128, 23, 0);
      margin-top: 20px;
  }
  
  .loading-progress {
      width: 0;
      height: 100%;
      background-color: #3498db;
      transition: width 0.3s ease-in-out;
  }

  .Projects{
    text-align: center;
  }

  @keyframes modal-content{
    from {
        top:-300px;
        opacity: 0;
    
    }
    to{
        top:0;
        opacity: 1;
    }
}

.accordion {
  background-color: bisque;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 10px;
  border-style: solid;
}

.active, .accordion:hover {
  background-color: bisque; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: bisque;
  overflow: hidden;
}

img.Project-Img{
  width: 30%;
  height:30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a{
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/*Mobile implementation*/
@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
      float: right;
      display: block;
    }
}

.navbar .icon{
  display: none;
}



@media screen and (max-width: 600px){
  .navbar.responsive {position:relative;}
  .navbar.responsive .icon{
      position:absolute;
      right:0;
      top:0;
  }
  .navbar.responsive a{
      float: none;
      display: block;
      text-align: left;
  }
}

.navbar a:not(:first-child){
  margin-left: 15px;
}