.portfolio-pic{
    margin: 25px 0 0 0;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100px;
}

img{
    border-radius: 10px;
    width: 300px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

title {
    display: flex;
    right: auto;
    left: auto;
}

div {
    text-align: center;
    left: auto;
    right: auto;
    padding-top: 50px;
}
h1{
    text-align: center;
    font-size: xx-large;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.previous-student{
    margin-left: 100px;
    font-size: 20px;
    border-radius: 4px;
    background-color: palevioletred;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.next-student {
    margin-left: 1000px;
    margin-right: 0px;
    font-size: 20px;
    border-radius: 4px;
    background-color: navajowhite;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2{
    text-align: center;
    font-size: large;
    color: brown;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

a:hover {
    color: rgb(12, 97, 14);
    text-decoration: underline;
}

a:active{
    color: blue;
}

a{
    font-size: 1.5em;
    text-decoration: solid;
    text-align: center;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

div.navbar a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}