.portfolio-pic{
    margin: 25px 0 0 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

.portfolio-pic img{
    border-radius: 10px;
    width: 100%;
    height: auto;
    display: flex;
    width: 400px;
}

title {
    align-items: center;
    display: flex;
    right: auto;
    left: auto;
}